{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Time</th>
                <th>Cloudiness</th>
                <th>Temperature</th>
                <th>Precipitation</th>
                <th>Humidity</th>
                <th>Air_pressure</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ weather.id }}</td>
                {% endif %}
                <td>{{ weather.time ? weather.time|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ weather.cloudiness }}</td>
                <td>{{ weather.temperature }}</td>
                <td>{{ weather.precipitation }}</td>
                <td>{{ weather.humidity }}</td>
                <td>{{ weather.airPressure }}</td>
                <td>
                    <a href="{{ path('app_city_show', {'id': weather.city.id}) }}">{{ weather.city }}</a>
                </td>
                <td>
                    <a href="{{ path('app_weather_show', {'id': weather.id}) }}">show</a>
                    {% if is_granted('ROLE_WEATHER_EDIT') %}
                        <a href="{{ path('app_weather_edit', {'id': weather.id}) }}">edit</a>
                    {%  endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_MEASURER') %}
        <a href="{{ path('app_weather_new') }}">Create new</a>
    {% endif %}
{% endblock %}
